/*
 * Globals
 */

/* Links */

a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none;
  /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}

/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #333;
}

body {
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
}

/* .cover-container {
  max-width: 42em;
} */

/*
 * Header
 */

.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus,
  {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link+.nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}

/*
 * Cover
 */

.cover {
  padding: 0 1.5rem;
}

.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}

/*
 * Footer
 */

.mastfoot {
  color: rgba(255, 255, 255, .5);
}

#topPage {
  font-size: 32px;
}

.h-100 {
  height: 100% !important;
  max-width: 60em;
}

#mainDiv {
  max-width: 80em;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  min-width: 320px;
}

#form-div {
  margin-left: auto;
  margin-right: auto;
}

#mainNavbar {
  background-color: #555;
  min-width: 100%;
  position: fixed;
  left: 0px;
  z-index: 100;
  /* height: 100px; */
}

.list-group-item {
  background-color: #333;
}

@media (min-width: 800px) {
  .innerNavbar {
    min-width: 90%;
    max-width: 100%;
    justify-content: center;
    margin-left: 5%;
    margin-right: 5%;
  }
  .navbar-div {
    justify-content: right;
    position: relative;
  }
  #mainDiv {
    width: 60%;
  }
  /* #ourProduct {
    margin-left: 15%;
    margin-right: 15%;
  } */
  #imageOfSmartShirt {
    float: left;
  }
  .list-group-item {
    margin-right: auto;
    margin-left: 10%;
  }
}

@media (max-width: 800px) {
  .innerNavbar {
    min-width: 90%;
    max-width: 100%;
    width: 90%;
    justify-content: center;
    /* margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%; */
    margin: 2%;
  }
  .navbar-div {
    justify-content: right;
    position: relative;
  }
  #mainDiv {
    width: 100%;
    min-width: 100%;
    text-align: center;
  }
  #productDescription {
    width: 100%;
  }
  .list-group-item {
    box-sizing: content-box;
  }
}

.div-section {
  height: 100%;
  min-height: 720px;
  max-height: 150em;
  /* margin-left: 15%;
  margin-right: 15%; */
}

/* ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fff;
}

li {
  display: inline;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 6px;
  text-decoration: none;
}

li a:hover {
  background-color: #111111;
} */